:root {
    --bg-color: #EAEAEA;
    --text-color: #00171F;
    --text-color2: #434343;
    --primary-color: #648381;
    --secondary-color: #925E78;
    --accent-color: #E36588;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    margin-bottom: 200px;
    background-color: #ccc;
}

/* Header */
.header-spacer{
    display: block;
    z-index: 100;
}
.header {
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    width: 100%;
    height: 50px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav-logo {
    display: inline-block;
    text-decoration: none;
    text-align: justify;
}

.nav-logo img {
    width: 40px;
    height: 40px;
    display: inline-block;
}
.nav-logo span{
    color: var(--accent-color);
    height: max-content;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
nav {
    height: 60px;
    width: 70%;
    display: flex;
    align-items: center;
}
.nav-links {
    width: max-content;
    height: max-content;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}
.nav-links a {
    margin-right: 20px;
    color: var(--text-color);
    text-decoration: none;
    transition: color 0.2s ease;
    font-weight: bold;
    font-size: 18px;
    padding: 10 0px;
    height: 100%;
    transition: 0.5s color ease;
}

.nav-links a:hover {
    color: var(--primary-color);
}

.nav-actions {
    width: 180px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-button {
    background-color: #fbfbfb;
    color: black;
    border: 2px solid rgb(157, 156, 156);
    padding: 5px 10px;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}
.nav-button:hover {
    color: rgb(64, 108, 108);
}
#logOutBtn {cursor: pointer;}

.search-form {
    display: flex;
    flex: 2;
    align-items: center;
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin: 0 10px 0 20px;;
    max-width: 500px;
    min-width: 240px;
}
  
.search-form input[type="search"] {
    width: 96%;
    border: none;
    font-size: 16px;
    padding: 4px 0 4px 10px;
}
  
.search-form button[type="submit"] {
    color: #837f7f;
    background-color: transparent;
    border: 0;
    padding: 0px 20px;
    border-radius: 0 10px 10px 0;
    font-size: 14px;
    height: 30px;
    cursor: pointer;
}
.search-form i {
    font-size: 20px;
}
/* Upload section */
.upload-section{
    padding: 20px;
    font-family: Candara;
    width: 70%;
    height: 80%;
    margin: 50px auto;
    background-color: white;
    border-radius: 2px;
}
.container{
    display: flex;
}
.detailsUpload{
    width: 70%;
}
.imgUpload{
    width: 35%;
}
.imgGame{
    width: 100%;
    height: 60%;
    border: 2px dotted gray;
}
#imgGame{
    width: 100%;
    height: fit-content;
}
#imgUploadBtn{
    position: relative;
    top: 50%;
    width: 2rem;
    height: 2rem;
}
